h1
{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table{
    margin:auto;
}
div{
    margin:auto;
    text-align: center;
}

td{
  width: 100px;
  height:100px;  
}

td input{
    width: 100px;
    height:100px;
    background-color: pink;
}
.vertical
{
    border-top: 2px;
    border-bottom: 2px;
}

.horizontal
{
    border-right: 2px;
    border-left: 2px;
}

#startButton
{
    width:200px;
    height:20px;
    background-color: green;
    visibility: hidden;
}